<!-- Complete Checkout Content -->
<section class="not-found mx-auto pt-5">
  <div class="container-fluid">
    <div class="text-center">
      <img src="assets/img/success.gif" width="583" height="550">
    </div>
    <div class="pb-3" style="margin-top: -90px">
      <h2 class="text-4xl fw-bold text-center color-palette-1 mb-10">Success!</h2>
      <p class="text-lg text-center color-palette-1 m-0">Lamaran kamu sudah tersimpan kedalam system
    </div>
    <div class="button-group d-flex flex-column mx-auto">
      <a class="btn btn-homepage fw-medium text-lg text-white rounded-pill" href="/home" role="button">Homepage</a>
    </div>
  </div>
</section>