<!-- Complete Checkout Content -->
<section class="not-found mx-auto pt-5">
  <div class="container-fluid">
    <div class="text-center">
      <img src="assets/img/404.gif" width="483" height="450">
    </div>
    <div class="pt-10 pb-3">
      <h2 class="text-4xl fw-bold text-center color-palette-1 mb-10">Oops! Not Found</h2>
      <p class="text-lg text-center color-palette-1 m-0">Halaman yang anda kunjungi sudah<br class="d-sm-block d-none">
        tidak tersedia pada sistem kami dan jika terjadi kendala silahkan menghubungi kami</p>
    </div>
    <div class="button-group d-flex flex-column mx-auto">
      <a class="btn btn-homepage fw-medium text-lg text-white rounded-pill" href="/home" role="button">Homepage</a>
    </div>
  </div>
</section>